.container-canales {
    display: flex;
    flex-direction:column ;
}

.canal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canal h3{
    background-color: rgb(227, 233, 231);
    align-items: center;
    justify-content: center;
}
